/* style.scss */
#navbar {
  width: 80%;
  height: 23px; }
  #navbar ul {
    list-style-type: none; }
  #navbar li {
    float: left; }
    #navbar li a {
      font-weight: bold; }

.fakeshadow {
  border-style: solid;
  border-left-width: 4px;
  border-left-color: #888888;
  border-right-width: 2px;
  border-right-color: #cccccc; }

a {
  color: #ce4dd6; }
  a:hover {
    color: #ffb3ff; }
  a:visited {
    color: #c458cb; }

#navbar-2 {
  border-bottom-color: #ce4dd6;
  border-bottom-style: solid; }

#navbar-3 {
  width: 800px;
  border-bottom: 2px solid #ce4dd6; }
  #navbar-3 li {
    float: left;
    width: 150px;
    background-color: #e5a0e9; }
    #navbar-3 li:hover {
      background-color: #d976e0; }

#navbar li {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px; }

#footer {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px; }

#navbar li {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px; }

#footer {
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px; }

#sidebar {
  border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px; }
